[core]
	hooksPath = /usr/local/dd/global_hooks
	excludesfile = ~/.gitignore
	untrackedCache = true
	fsmonitor = true
	editor = nvim
    symlinks = true
[user]
	email = tausif.rahman@datadoghq.com
	name = Tausif Rahman
	signingkey = ~/.ssh/id_ed25519.pub
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[diff]
	tool = nvimdiff
	mnemonicPrefix = true
[difftool "vscode"]
    	cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
	prompt = false
[safe]
	directory = /Users/tausif.rahman/go/src/github.com/DataDog/dd-source/.git
	directory = *
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/
[commit]
	gpgsign = true
[status]
	showUntrackedFiles = all
[feature]
	manyFiles = true
[maintenance]
	repo = /Users/tausif.rahman/go/src/github.com/DataDog/dd-source
[index]
	skipHash = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[init]
	templateDir = ~/.git-template
[fetch]
    prune = true
[alias]
	track-branch = "!f() { git config --add remote.origin.fetch \"+refs/heads/$1:refs/remotes/origin/$1\" && git fetch origin \"$1:refs/remotes/origin/$1\"; }; f"
	untrack-branch = "!f() { git config --unset remote.origin.fetch \"\\+refs/heads/$1:refs/remotes/origin/$1\" && git update-ref -d \"refs/remotes/origin/$1\"; }; f"
