[core]
	hooksPath = /usr/local/dd/global_hooks
	excludesfile = ~/.gitignore
	untrackedCache = true
	fsmonitor = true
	editor = nvim
    symlinks = true
[user]
	email = tausif.rahman@datadoghq.com
	name = Tausif Rahman
	signingkey = ~/.ssh/id_ed25519.pub
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[diff]
	tool = nvimdiff
	mnemonicPrefix = true
[difftool "vscode"]
    	cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
	prompt = false
[safe]
	directory = /Users/tausif.rahman/go/src/github.com/DataDog/dd-source/.git
	directory = *
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/
[commit]
	gpgsign = true
[status]
	showUntrackedFiles = all
[feature]
	manyFiles = true
[maintenance]
	repo = /Users/tausif.rahman/go/src/github.com/DataDog/dd-source
[index]
	skipHash = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[init]
	templateDir = ~/.git-template
[fetch]
    prune = true
[alias]
	track-branch = "!f() { git config --add remote.origin.fetch \"+refs/heads/$1:refs/remotes/origin/$1\" && git fetch origin \"$1:refs/remotes/origin/$1\"; }; f"
	untrack-branch = "!f() { git config --unset remote.origin.fetch \"\\+refs/heads/$1:refs/remotes/origin/$1\" && git update-ref -d \"refs/remotes/origin/$1\"; }; f"
	setup-fetch = "!f() { default_branch=$(git ls-remote --symref origin HEAD | awk '/^ref:/ {sub(\"refs/heads/\", \"\", $2); print $2}'); if [ -z \"$default_branch\" ]; then echo \"Could not determine default branch\" && exit 1; fi; echo \"Default branch: $default_branch\"; git symbolic-ref --delete refs/remotes/origin/HEAD 2>/dev/null || true; git for-each-ref --format='delete %(refname)' refs/remotes/origin/ | git update-ref --stdin 2>/dev/null || true; git config remote.origin.fetch \"+refs/heads/${default_branch}:refs/remotes/origin/${default_branch}\"; git config --add remote.origin.fetch '+refs/heads/tausman*:refs/remotes/origin/tausman*'; git fetch origin; }; f"
[credential]
        helper = osxkeychain
